<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shortcard image</title>
    <style>
      .body {
        width: 450px;
        height: 600px;
      }

      body {
        background-color: transparent;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 25px;
        font-family: "Roboto", sans-serif;
        width: 500px;
        height: 600px;
      }

      .light-font {
        font-weight: 100;
      }

      .thicc-font {
        font-weight: 400;
      }

      .card {
        border-radius: 15px;
        background-color: #23272a;
        width: 500px;
        height: 600px;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .avatar {
        position: relative;
        width: fit-content;
      }

      .avatar img {
        width: 160px;
        height: 160px;
        border: 4px solid #{{status}};
        border-radius: 50%;
      }

      .user-wrapper {
        position: relative;
        align-items: center;
        width: 80%;
      }

      .inner-user-wrapper {
        height: 100%;
        width: 100%;
      }

      .inner-user-server-stats-wrapper {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
      }

      .inner-user-server-stats-wrapper p {
        margin: 0;
      }

      .progress-info p,
      .inner-user-server-stats-wrapper {
        margin: 25px 0 5px 0;
      }

      .user-content,
      .progress-info,
      .user {
        display: flex;
      }

      .progress-info {
        margin-left: 17px;
      }

      .user {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .user-content p {
        padding: 0;
        margin: 0;
        width: fit-content;
      }

      .user-content {
        position: relative;
        margin: 0;
        justify-content: center;
      }

      .color {
        color: #{{color}};
      }

      .color-back {
        background-color: #{{color}};
      }

      .lighter {
        color: #7f8384;
      }

      .lighter-back {
        background-color: #484b4e;
      }

      .bigger {
        font-size: 150%;
      }

      .progress-bar {
        height: 37px;
      }

      .progress,
      .progress-bar {
        border-radius: 19px;
        overflow: hidden;
      }

      .username {
        font-size: 175%;
      }

      .level-wrapper {
        margin-right: 8px;
        margin-left: 8px;
      }

      .progress {
        height: 100%;
        width: {{progress}}%;
      }

      .user {
        width: 100%;
      }

      .rank-wrapper,
      .level-wrapper,
      .username {
        text-align: center;
        width: 100% !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    </style>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="card">
      <div class="avatar">
        <img
          src="{{avatar}}"
          alt="The user icon"
        />
        <div class="status"></div>
      </div>
      <div class="user-wrapper">
        <div class="inner-user-wrapper">
          <div class="user-content">
            <div class="user">
              <p class="username">
                {{user}}
              </p>
              <p class="discriminator lighter">#{{discriminator}}</p>
            </div>
          </div>
          <div class="inner-user-server-stats-wrapper">
            <p class="rank-wrapper light-font">
              RANK <span class="bigger thicc-font">#{{rank}}</span>
            </p>
            <p class="level-wrapper color light-font">
              LEVEL <span class="bigger thicc-font">{{level}}</span>
            </p>
          </div>
          <div class="progress-info">
            <p class="progress-current">{{current}}K</p>
            <p class="progress-total lighter">&nbsp;&nbsp;/ {{max}}K</p>
          </div>

          <div class="progress-bar lighter-back">
            <div class="progress color-back"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
